################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Builds/Demo
/Builds/LinuxMakefile
/Builds/MacOSX
/Builds/VisualStudio2019
/Builds/MacOSX_0
/Doc/doxygen
/Movies
